body {
  background-image: url("https://media1.tenor.com/images/7f7f2882899755a705a2953b6fcfc263/tenor.gif?itemid=5662740");
  background-size: cover;
  height: 100vh;
  padding:0;
  margin:0;
}

h1, h2 {
  color: #07C04B;
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #07C04B;
}

.btn-purple {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color:black;
  background-color: #07C04B;
  padding: 16px;
  border-radius: 4px;
}


.btn-purple:hover {
  color: #58607D;
}

img {
  height: 100px;
  border-radius: 50%
}

div {
  background-color: black;
  padding: 32px;
  margin: 24px auto;
  width: 500px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,1);
  border-radius: 10px;
  opacity: 0.33;
}

#paragraph-withmargin {
  margin-bottom: 32px;
}
